%font-prim {
  font-family: "DM+Sans", Verdana, sans-serif;
}

%font-nav {
  font-family: "Playfair+Display", serif;
}

%transition {
  transition: all 0.3s ease-out;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%img-rep-size {
  background-repeat: no-repeat;
  background-size: cover;
}