.healthy-food {
    background-image: url(../assets/img/Rectangle\ 1.jpg);
    @extend %img-rep-size;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 27rem 8.2rem 16rem 0;

}

.healthy-food-name {
    color: #AB0505;

}

.healthy-food__text {
    text-align: center;
    max-width: 61rem;
    margin-bottom: 6rem;

    @include media-fullHD {
        max-width: 40rem;
    }
}

.healthy-food>div {
    @extend %flex-center;
    flex-direction: column;
}